@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #EFEFEF;
    color: #fff;
    display: flex;
    font-family: 'Muli', sans-serif;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    min-height: 100vh;
}

p {
    margin: 5px 0;
}

h2 {
    margin: 10px 0 20px;
    text-align: center;
}

input[type=checkbox] {
    margin-right: 0;
    outline: none;
}

/* Input */

input[type='checkbox'] {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeSpeed;
    width: 15px;
    height: 15px;
    display: block;
    float: left;
    position: relative;
    cursor: pointer;
}

input[type='checkbox']:after {
    content: "";
    vertical-align: middle;
    text-align: center;
    line-height: 13px;
    position: absolute;
    cursor: pointer;
    height: 15px;
    width: 15px;
    left: 0;
    top: 0;
    font-size: 10px;
    -webkit-box-shadow: inset 0 1px 1px #fff, 0 1px 0 #fff;
    -moz-box-shadow: inset 0 1px 1px #fff, 0 1px 0 #fff;
    box-shadow: inset 0 1px 1px #fff, 0 1px 0 #fff;
    background: white;
}

/*input[type='checkbox']:hover:after, input[type='checkbox']:checked:hover:after {*/
/*    background: #615D8F;*/
/*    content: '\2714';*/
/*    color: #fff;*/
/*}*/

input[type='checkbox']:checked:after {
    background: #615D8F;
    content: '\2714';
    color: #fff;
}

.container {
  color: black;
    padding: 20px;
    width: 350px;
    max-width: 100%;
}

.result-container {
    background-color: #FFFFFF;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    font-size: 18px;
    letter-spacing: 1px;
    padding: 10px 12px;
    height: 50px;
    width: 100%;
}

.result-container #result {
    word-wrap: break-word;
    max-width: calc(100% - 40px);
}

.result-container .btn {
    font-size: 15px;
    position: absolute;
    right: -65px;
    height: 50px;
    width: 80px;
    outline: none;
}

.btn {
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 12px;
    background-color: #A8A3C2;
}

.btn-large {
    text-align: center;
    margin-top: 30px;
    margin-left: 70px;
    width: 200px;
    background: #615D8F;
}

.setting {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    display: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: textfield;
}
@media screen and (max-width: 400px) {
    .result-container {
        font-size: 14px;
    }
}
